**/.vscode-test/**
out/test/**
src/**
RUNBOOK.md
Prompts.txt
.vscode/**
.gitignore
.npmignore
tsconfig.json
**/*.ts
**/*.map
node_modules/**/@types/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
node_modules/**/*.txt
node_modules/**/LICENSE*
node_modules/**/CHANGELOG*
node_modules/**/.github/**
node_modules/**/docs/**
node_modules/**/examples/**
node_modules/**/.eslintrc*
node_modules/**/.prettierrc*
node_modules/**/tsconfig*
